@model User

<h1>Login de usuario</h1>

<form asp-controller="User" asp-action="validar" method="post">
    <input asp-for="email" type="email" placeholder="ingrese su email" /><br/>
    <input asp-for="password"type="password" placeholder="ingres su password" />
    <input type="submit" value="login" />
 
</form>